# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz


# eclipse ignore
.settings/
.project
.classpath
*.class


# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp


*/bin/*
# system ignore
.DS_Store
Thumbs.db
/bin/
